extends layout

block content

    .grid
        for item, i in content
            .item.half_w
                .card
                    | #{content[i].title}

    script.
      var grid = new Muuri('.grid');

        