extends layout

block content
    .grid
        .item.half_w
            .card
                | Hi asdasd asdas asdasda asdad asdasd asdasd asdas
                p asda
                p asdasda 
                p asdasdads 

        .item.half_w
            .card
                | Hi

        .item.half_w
            .card
                | Hi asdasd asdas asdasda asdad asdasd asdasd asdas
                p asda
                p asdasda 
                p asdasdads 
        .item.half_w
            .imgcard
                | Hi asdasd asdas asdasda asdad asdasd asdasd asdas
                p asda
                p asdasda 
                p asdasdads 

        .item.half_w
            .card-secondary
                | Hi asdasd asdas asdasda asdad asdasd asdasd asdas
                p asda
                p asdasda 
                p asdasdads 
    script.
      var grid = new Muuri('.grid');

        