doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/css/flex.css')
    link(rel='stylesheet', href='/css/main.css')

    meta(name='viewport' content ='width=device-width, initial-scale=1, user-scalable=no')

    link(rel='icon' type='image/png' href='/assets/mi6_logo_16.png' sizes='16x16')
    link(rel='icon' type='image/png' href='/assets/mi6_logo_32.png' sizes='32x32')
    link(rel='icon' type='image/x-icon' href='/assets/favicon.ico')
    link(rel='shortcut icon' type='image/x-icon' href='/assets/favicon.ico')

    script(src='/js/jquery.min.js')
    script(src='/js/typed.min.js')
  body
    include menu.pug

    <!-- main page content -->
    .index-logo-wrapper
      .mi6softlab_logo
      #description

    include socialbar.pug

  script.
        function rights(){
            var curr = new Date();
            var year = curr.getFullYear();
            document.getElementById('app-rights').innerHTML = '&copy;'+year+' Mahesh-Ranaweera';
        }

        window.onload = function(){
            rights();
        }
  script(src='/js/intro.js')
  script(src='/js/bg.js')