doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/flex.css')
    link(rel='stylesheet', href='/css/main.css')
  body
    <!-- menu -->
    include menu.pug

    <!-- main page content -->
    .site_main_content.add-margin-top
      block content
