<!--header menu-->
.page-header.full_w    
    .header-container
        a(href='/')
            .app-logo
        .app-nav-bar
            a(href='/about')
                .nav-item
                    | about
            a(href='/blog')
                .nav-item
                    | blog
            a(href='/dev')
                .nav-item
                    | dev
            a(href='/design')
                .nav-item
                    | design
