<!--header menu-->
.page-header.full_w    
    .header-container
        a(href='/' title='HOME')
            .app-logo
        .app-nav-bar
            a(href='/about' title='About me & Resume')
                .nav-item
                    | about
            //- a(href='/blog' title='My Blog')
            //-     .nav-item
            //-         | blog
            a(href='/design' title='My Designs')
                .nav-item
                    | design
            a(href='/dev' title='My Projects and contributions')
                .nav-item
                    | dev